<div>
  <h1>Edit Your Profile</h1>
  <hr />
  <div class="col-md-4">
    <form autocomplete="off" novalidate [formGroup]="profileForm" (ngSubmit)="saveProfile(profileForm.value)">
      <div class="form-group" [ngClass]="{
          error:!validate(profileForm.controls.firstName)
        }">
        <label for="firstName">First Name:</label>
        <em *ngIf = "!validate(profileForm.controls.firstName) && profileForm.controls.firstName.errors.required">Required</em>
        <em *ngIf = "!validate(profileForm.controls.firstName) &&profileForm.controls.firstName.errors.pattern">Must start with a letter</em>
        <input id="firstName" type="text" class="form-control" placeholder="First Name..." formControlName="firstName"
          required />
      </div>
      <div class="form-group" [ngClass]="{
          error:!validate(profileForm.controls.lastName)
        }">
        <label for="lastName">Last Name:</label>
        <em *ngIf = "!validate(profileForm.controls.lastName)">Required</em>
        <input id="lastName" type="text" class="form-control" placeholder="Last Name..." formControlName="lastName"
          required />
      </div>

      <button type="submit" [disabled]="!validate(profileForm.controls.firstName) || !validate(profileForm.controls.lastName)" class="btn btn-primary">Save</button>
      <button type="button" class="btn btn-default" (click)="cancel()">
        Cancel
      </button>
    </form>
  </div>
</div>